rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // NYSC Katsina Cooperative Society Security Rules
    
    match /contributions/{id} {
      allow read, write: if true;
    }
    
    match /loans/{id} {
      allow read, write: if true;
    }

    match /members/{id} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}